<% provide(:title, "Select Level") %>

<h1>Which Letter Is This?</h1><hr/>

<p class=" lead text-right no-margin-bottom">Points: <strong><%= @current_user.points %></strong></p>

<div class="row">

	<div class="col-md-6 col-md-offset-3">
		<%= form_for(:game, url: play_beginner_path) do |f| %>

		<div class="text-center">
		<%= image_tag image_url(@sign.image), size: '240' %> </div> <br/>

		<%= f.text_field :char %>

		<input id="game_id" type="hidden" name="game[id]" value="<%=@sign.id %>"/>

		<%= f.submit "Submit Answer", class: "btn btn-primary" %>
		<% end %>
		<br/>
		<div class=""><a href="/play"><input name="commit" value="Choose Another Level" class="btn btn-info"></a></div>
	</div>
</div>
<hr/>


	Is this your <strong>first time playing?</strong> <%= link_to "Check out our tutorial", play_tutorial_path %>
	<h5 class="text-right">All pictures credited to Mario Carneiro (Di gama)</h5>
